.navbar {
            background-color: #8c8c8c;
        }
        .navbar-toggle{
            background-color: white;
        }
       
        .page-heading {
            text-align: center;
            color: black;
            font-size: 30px; 
            font-family: Comic Sans MS, Comic Sans, cursive;
        }
        .dropdown-menu{
            background-color: white;
            width: 100%;
        }
        .dropdown{
            background-color: white;
            font-family: Comic Sans MS, Comic Sans, cursive;
        }
        .company{
            color: black; 
            font-size: 30px; 
            font-family: Comic Sans MS, Comic Sans, cursive;  
        }
        .collapse navbar-collapse{
            color: black;
        }
        h2{
            font-size: 20px; 
            font-family: Comic Sans MS, Comic Sans, cursive;
            text-align: center;
            color: black; 
        }
        .content{
            width: 100%;
            background-color: #8c8c8c;
            color: black;
            font-family: Comic Sans MS, Comic Sans, cursive; 
            font-size: 15px; 
            padding:  10px 30px 10px 30px; 
        }